<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">LP RECORDS FROM</p>
      <p class="title">
        <%= link_to @artist.name, @artist %>
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
      <div>
       <%= link_to "Create a new LP", new_artist_lp_path, class: "button is-outlined" %>
      </div>
  </div>
</nav>
<div class="section">
  <div class="container">
    <% @lps.each do |lp| %>
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">
              <%= link_to lp.name, artist_lp_path(lp.artist_id, lp.id)  %>
            </p>
          </div>
        </div>
        <div class="content">
          <%= lp.description %>
        </div>
    </div>
    <% end %>
  </div>
</div>
