<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <br>
      <p class="subtitle is-3 hast-text-dark">Welcome to Discography</p>
    </div>
  </div>
</nav>
<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        In the <strong>Artists page</strong> you can browse the artists profiles or create new ones.
        <br>
        In the artists profiles you can edit the information or delete the profile.
      </div>
      <div class="card-content">
        In the <strong>Records page</strong> you can browse the LP collection and filter it by artist.
        <br>
        In the LP Record pages you can edit the information or delete the page.
      </div>
      <div class="card-content">
        To create a new <strong>LP Record</strong> page, first you have to visit an artists' Record List.
        <br>
        You can follow either one of the paths below:
        <br>
        <em>Artists page > Artists Profile > Record List > Create a New LP</em>
        <br>
        <em>Records page > LP Record > (Artist's) Record List > Create a New LP</em>
      </div>
    </div>
  </div>
</section>
