<section class="section">
    <div class="container">
      <h1 class="title">Welcome to Discography</h1>
      <h2 class="subtitle">
        <ul>
          <li>In the Artists page you can browse our artists, update their information, delete them or even create new ones.</li>
          <li>
            In the LPs page you can browse our LP collection, filter its contents by artist, and update and delete the records.
          </li>
          <li>
            To create a new record you have to go to artists record's page.
          </li>
        </ul>
      </h2>
    </div>
  </section>
