/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

// Global
html, body {
    background-color: whitesmoke;
}

// Header
.hero {
  background-image: url(vinyl-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.hero-foot {
  font-weight: bold;
}

// Dropdown button
 #dropdown-toggle {
  display: none;
}

#dropdown-toggle:checked ~ #dropdown-menu {
  display: block;
}

// Navbar below header
.level:not(:last-child) {
  margin-bottom: 0;
}

// Delete message
#flash {
    margin-bottom: 0;
    margin-top: 1.5rem;
}

// Footer
.footer {
  background-color: rgba(66, 39, 22, 0.9);
  padding: 3rem;
}

// Pagination
.pagination-link.is-current {
  background-color: #7a7a7a;
  border-color: grey;
}

