<footer class="footer">
  <div class="content has-text-centered">
    <p class="subtitle is-6 has-text-light">
      Discography Project Task
      <br>
      <a class='has-text-grey-light' href="https://github.com/ailobe/discography_project", style="border-bottom: 1px solid currentColor">View code on GitHub</a>
    </p>
  </div>
</footer>
