<section class="hero is-medium is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <p class="title">
        Discography project Task
      </p>
      <p class="subtitle">
        <%= yield :title %>
      </p>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li>
            <%= link_to "Artists", artists_path, style: "font-weight:bold" %>
          </li>
          <li>
            <%= link_to "LPs", '#', style: "font-weight:bold" %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
</section>