<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Discography project Task
      </h1>
      <h2 class="subtitle">
        <%= yield :title %>
      </h2>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li><%= link_to "Artists", '#' %></li>
          <li><%= link_to "LPs", '#' %></li>
        </ul>
      </div>
    </nav>
  </div>
</section>